@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0079BF;
    color: #fff;
    overflow-x: hidden;
}

/* Cabeçalho */
header {
    background-color: #0079BF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a.button {
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}




/* Seção Inferior */
.bottom-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.bottom-section img {
    width: 40%;
    margin-right: 50px;
}

.bottom-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.bottom-text p {
    font-size: 18px;
    line-height: 1.6;
}

/* Problema */
.problema-section {
    padding: 50px;
    background-color: #0079BF;
    color: #0e8bd3;
    text-align: center;
}

.problema-text {
    width: 60%;
    margin: 0 auto;
}

.problema-text h2 {
    font-size: 36px;
    color: #007bff;
}

.problema-text hr {
    width: 50px;
    border: 2px solid #007bff;
    margin: 20px auto;
}

.problema-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Estilos para a seção "Oportunidades" */
.oportunidades-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
}

.oportunidade-box {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
}

.oportunidade-box h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.oportunidade-box p {
    font-size: 16px;
    color: #666;
}

.oportunidade-box:last-child {
    margin-right: 0;
}

/* Estilos para a seção "Sua Jornada" */
.jornada-section {
    padding: 50px;
    background: linear-gradient(180deg, #1c1c1c, #555);
    color: #fff;
    text-align: center;
}

.jornada-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.jornada-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jornada-box {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #007bff;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}

.jornada-box img {
    max-width: 40px;
    margin-bottom: 10px;
}

.cta-container {
    margin-top: 40px;
}

.cta-button {
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.cta-line {
    width: 100px;
    height: 5px;
    background-color: #007bff;
    margin: 0 auto;
    border-radius: 2.5px;
}

/* Estilos para a seção "Objetivos" */
.objetivos-section {
    padding: 50px;
    background-color: #007bff;
    text-align: center;
    color: #fff;
}

.objetivos-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.objetivo-box {
    display: inline-block;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    color: #007bff;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}

.objetivo-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.objetivo-box p {
    font-size: 16px;
    color: #333;
}

/* */




/* rodapé */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-logo {
    text-align: center;
    flex: 1;
}

.footer-logo img {
    max-height: 50px;
}

.footer-logo .social-icons {
    margin-top: 10px;
}

.footer-logo .social-icons img {
    width: 24px;
    margin: 0 10px;
}

.footer-button {
    text-align: center;
    flex: 1;
}

.footer-button button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.footer-links, .footer-contact {
    text-align: left;
    flex: 1;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.footer-contact {
    border-left: 2px solid #fff;
    padding-left: 20px;
}

.footer-contact p {
    margin: 5px 0;
}



@media (max-width: 800px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .vertical-text {
        position: relative;
        transform: rotate(0);
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
        text-align: center;
    }

    .main-container img,
    .form-container {
        width: 100%;
        margin-left: 0;
    }

    .bottom-section {
        flex-direction: column;
        text-align: center;
    }

    .bottom-section img {
        margin-bottom: 20px;
    }
}