@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    font-size: 2em;
    margin: 20px 0;
    color: #333;
}

.section {
    margin-bottom: 60px;
}

.problem-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.problem-section img {
    max-width: 400px;
    height: auto;
    order: 1;
}

.problem-section .text {
    max-width: 600px;
    order: 2;
}

.problem-section h1 {
    color: #007BFF;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.card p {
    color: #555;
}

.journey-section {
    text-align: center;
}

.journey-section h2 {
    margin-bottom: 20px;
    color: #8b8b8b;
    font-size: 2.5em;
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.journey-section h2::before,
.journey-section h2::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
}

.journey-section h2::before {
    left: -110px;
}

.journey-section h2::after {
    right: -110px;
}

.journey-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

}

.journey-card {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

    
}

.journey-card img {
    font-size: 2em;
    background-color: white;
    color: #007BFF;
    border-radius: 8px;
    margin-right: 15px;
    padding: 10px;
    
}

.journey-card p {
    font-size: 1em;
    margin: 5px;
}

.cta-section {
    text-align: center;
    margin: 40px 0;
}

.cta-button {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button span {
    color: #007BFF;
}

.cta-button:hover {
    background-color: #333;
}

.cta-button::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background-color: #007BFF;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.objectives-section {
    background-color: #007BFF;
    color: white;
    padding: 40px 20px;
}

.objectives-section h2 {
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.objective-cards {
    display: flex;
    justify-content: space-between;
}

.objective-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
    color: black;
}

.objective-card h2 {
    color: #333;
    margin-bottom: 15px;
}

.objective-card p {
    color: #555;
}

@media (max-width: 768px) {
    .problem-section {
        flex-direction: column;
        text-align: center;
    }

    .problem-section img, .problem-section .text {
        order: 0;
    }

    .cards, .objective-cards {
        flex-direction: column;
    }

    .card, .objective-card {
        margin: 10px 0;
    }

    .journey-card {
        width: 100%;
    }
}