@charset "UTF-8";

/* Responsividade */

/* Telas até 600px */
@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
        padding: 10px; /* Ajuste do padding para telas pequenas */
    }

    nav ul {
        display: none;
        flex-direction: column;
    }
    nav::after {
        display: none;
    }
    .menu-toggle {
        display: flex;
    }

    .form-container {
        width: 90%;
    }

    .bottom-section, .problem-section, .journey-section, .objectives-section {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .bottom-image, .problem-image {
        margin-bottom: 20px;
    }

    .bottom-section img, .problem-section img {
        width: 90%; /* Ajusta a imagem ao tamanho do contêiner */
        height: auto;
    }

    .text, .bottom-text {
        text-align: center; /* Centraliza o texto em telas pequenas */
        font-size: 16px; /* Ajusta o tamanho da fonte para telas pequenas */
    }
}

/* Telas até 768px (Celular) */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        padding: 10px; /* Ajuste do padding para telas pequenas */
    }

    nav ul {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .form-container {
        width: 100%;
    }

    .bottom-section, .problem-section, .journey-section, .objectives-section {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .bottom-image, .problem-image {
        margin-bottom: 20px;
    }

    .bottom-section img, .problem-section img {
        width: 100%; /* Ajusta a imagem ao tamanho do contêiner */
        height: auto;
    }

    .text, .bottom-text {
        text-align: center; /* Centraliza o texto em telas pequenas */
        font-size: 16px; /* Ajusta o tamanho da fonte para telas pequenas */
    }
}

/* Telas até 992px (Tablet) */
@media (max-width: 992px) {
    nav ul {
        display: flex;
    }

    .menu-toggle {
        display: none;
    }

    .form-container {
        width: 80%;
    }

    .bottom-section, .problem-section, .journey-section, .objectives-section {
        padding: 15px;
        text-align: center;
    }

    .bottom-text, .text {
        text-align: justify; /* Ajuste do texto para justificar em telas maiores */
    }
}

/* Telas até 1200px (Desktop) */
@media (max-width: 1200px) {
    .form-container {
        width: 70%;
    }
}

/* Telas acima de 1200px */
@media (min-width: 1201px) {
    .form-container {
        width: 50%;
    }
}
