@charset  "UTF-8";


body {
    font-family: Arial, sans-serif;
    background-color: #0079BF;
}

/* Estilos do Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0079BF;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a.button {
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Seção Principal */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.main-container img {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.form-container {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin-left: -100px;
}

form.form1 {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #33333369;
    
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form.form2 {
    padding: -2px;
}
.programming-skills {
    margin-bottom: 15px;
    color: white;
}

.programming-skills label {
    margin-right: 10px;
    
}

.skills-options {
    display: flex;
    flex-wrap: wrap;
    
}

.skills-options label {
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
}

fieldset {
    background-color: #005a8d;
}


.development-radio {
    margin-bottom: 20px;
}

.development-radio label {
    margin-right: 20px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #0079BF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005a8d;
}

/* Estilo do Texto Rotacionado */
.vertical-text {
    position: absolute;
    left: 0;
    top: 20%;
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.vertical-text .gerando {
    color: #000;
}

/* Seção Inferior */
.bottom-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.bottom-section img {
    width: 40%;
    margin-right: 50px;
}

.bottom-text {
    color: white;
}

.bottom-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.bottom-text p {
    font-size: 18px;
    line-height: 1.6;
}

/* Responsividade */
@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
        text-align: center;
    }

    .main-container img,
    .form-container {
        width: 100%;
    }

    .form-container {
        margin-left: 0;
    }

    .bottom-section {
        flex-direction: column;
    }

    .bottom-section img {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}


