@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    
    
}

/* header */
header {
    background-color: #bd5b1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    
    
}

.logo img {
    height: 40px;
  
}
nav {
    background-color: chartreuse;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    position: relative;
    right: 35px;
    top: 0px;
}

nav ul li {
    display: inline-block;
    margin-left: 50px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    
}

nav > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.096);
}

nav ul li a.button {
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

nav::after {
    content: "";
    position: absolute;
    left: 73%;
    top: 11%;
    transform: translateX(-75%);
    width: 87%;
    height: 2px; /* Ajuste a altura da linha conforme necessário */
    background: linear-gradient(to right, transparent, white, transparent);
}

/* main */

main {
    background-color: #bd1ab5;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
}
.main-container {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: blueviolet;
    background-image: url("../imagens/bannertop800.png");
    
    
}

form {
    background-color: chartreuse;
    margin-top: 0;
    padding: 10px;
}

.form-container {
    width: 20vw;
    min-width: 300px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    color: #333;
    border-radius: 10px;
   
}

.form-container p {
    text-align: left;
    padding: 10px;
    
}

h2 {   /* titulo do form*/
    font-size: 24px;
    margin-bottom: 15px;
    color: rgba(128, 128, 128, 0.5);
    text-align: left;
}

p {
    padding: 10px;
    font-weight: bold;
    color: #005a8d;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #005a8d;
    
}

.input-container {
    position: relative;
    margin-bottom: 10px;

}

.input-container .icon {
    position: absolute;
    left: 5px;
    top: 52%;
    transform: translateY(-45%);
}

.input-container input,
.input-container select {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid rgba(128, 128, 128, 0.171);
    border-radius: 5px;
    color: #005a8d;
   
}

.programming-skills {
    margin-bottom: 15px;
    background-color: #005a8d;
    border-radius: 10px;
}

.programming-skills p {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    text-align: left;
    
}

.skills-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    color: #005a8d;  
}

label.options {
    display: block;
    margin-bottom: 5px;
    background-color: #005a8d;
    color: white;
}

.development-radio p {
    margin-bottom: 5px;
    font-weight: bold;  
    
}

.development-radio label {
    display: inline-block;
    padding: 10px;
    position: relative
}

.campo-obrigatorio {
    padding-bottom: 30px;
    
}

.campo-obrigatorio p {
    text-align: center;
    
}

.divider {
    transform: translateX(12%);
    width: 80%;
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.432), left transparent);
}


button {
    width: 100%;
    padding: 10px;
    background-color: #0079BF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005a8d;
}

.rodapé-form {
    font-size: 8px;
    color: #5555558c;
    
}

.rodapé-form p {
    text-align: center;
   
}
.rodapé-form p > span {
    color: black;
    font-weight: bolder;
   
}

.bottom-section {
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 15px 150px; 
    display: flex;
    background-color: #bf0000;   
}

.bottom-image {
    flex: 1;
    margin-right: 20px;
}

.bottom-section img {
    width: 85%;
}

.bottom-text {
    flex: 1;
    font-size: 10px;
    margin: 20px;
}

.bottom-text h2 {
    color: rgba(255, 255, 255, 0.548);
}

.bottom-text p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: white;
}

.problem-section {
    background-color: darkorange;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.problem-image {
    flex: 1;
    width: 100%;
    margin: 0px;
    padding: 20px 40px 15px 150px;
}

.text {
    flex: 1;
    font-size: 10px;
}

.text h2 {
    flex: 1;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    color: #555555c4;
}

.text p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-top: -10px;
    color: white;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    background-color: darkolivegreen;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px 10px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

.card p {
    color: #555;
}

.journey-section {
    width: 100%;
    text-align: center;
    background-color: rgb(230, 5, 5);
    margin: 0px;
    padding: 100px 50px;
}

.journey-section h2 {
    margin-bottom: 20px;
    color: #8b8b8b;
    font-size: 2.5em;
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.journey-section h2::before,
.journey-section h2::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
}

.journey-section h2::before {
    left: -110px;
}

.journey-section h2::after {
    right: -110px;
}

.journey-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    background-color: blueviolet;
}

.journey-card {
    background-color: #3cff00;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.journey-card img {
    font-size: 2em;
    background-color: white;
    color: #007BFF;
    border-radius: 8px;
    margin-right: 15px;
    padding: 10px;
}

.journey-card p {
    font-size: 1em;
    margin: 5px;
}

.cta-section {
    text-align: center;
    margin: 40px 0;
    background-color: #00ffc8;
}

.cta-button {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button span {
    color: #007BFF;
}

.cta-button:hover {
    background-color: #333;
}

.cta-button::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background-color: #007BFF;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

/* objectives */
.objectives-section {
    background-color: #e5ff00;
    color: white;
    padding: 50px;
    text-align: center;
}

.objectives-section h2 {
    font-size: 32px;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.objective-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: antiquewhite;
}

.objective-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
    color: black;
}

.objective-card h2 {
    color: #333;
    margin-bottom: 15px;
}

.objective-card p {
    color: #555;
}

/* footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.footer-logo {
    text-align: center;
    flex: 1;
}

.footer-logo p {
    color: white;
}

.footer-logo img {
    max-height: 50px;
}

.footer-logo .social-icons {
    margin-top: 10px;
}

.footer-logo .social-icons img {
    width: 24px;
    margin: 0 10px;
}

.footer-button {
    text-align: center;
    flex: 1;
}

.footer-button button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.footer-links, .footer-contact {
    text-align: center;
    flex: 1;
    color: white;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.footer-contact {
    border-left: 2px solid #fff;
    padding-left: 20px;
    color: white;
}

.footer-contact p {
    color: white;
    
}



