@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #1A7FBD;
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 1200px;
    margin: auto;
}

/* Header */
header {
    background-color: #1A7FBD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 40px;
}

nav::after {
    content: "";
    position: absolute;
    left: 73%;
    top: 8%;
    transform: translateX(-75%);
    width: 87%;
    height: 2px; /* Ajuste a altura da linha conforme necessário */
    background: linear-gradient(to right, transparent, white, transparent);
}

nav {
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-top: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: rgba(214, 10, 10, 0.096);
}

nav ul li a.button {
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a.button:hover {
    background-color: rgba(214, 10, 10, 0.096);
}


/* Menu sanduíche para telas pequenas */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 2px;
    background: white;
    margin: 5px 0;
    width: 25px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1A7FBD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Form */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1A7FBD;
    margin-top: 20px;
}

.image-container {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.form-container {
    flex: 0.3;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    color: #333;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-container p {
    text-align: left;
    padding: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: rgba(128, 128, 128, 0.5);
    text-align: left;
}

p {
    padding: 10px;
    font-weight: bold;
    color: #1A7FBD;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #1A7FBD;
}

.input-container {
    position: relative;
    margin-bottom: 10px;
}

.input-container .icon {
    position: absolute;
    left: 5px;
    top: 52%;
    transform: translateY(-45%);
}

.input-container input,
.input-container select {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid rgba(128, 128, 128, 0.171);
    border-radius: 5px;
    color: #1A7FBD;
}

.programming-skills {
    margin-bottom: 15px;
    background-color: #1A7FBD;
    border-radius: 10px;
}

.programming-skills p {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.skills-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    color: #1A7FBD;
}

label.options {
    display: block;
    margin-bottom: 5px;
    background-color: #1A7FBD;
    color: white;
}

.development-radio p {
    margin-bottom: 5px;
    font-weight: bold;
}

.development-radio label {
    display: inline-block;
    padding: 10px;
}

.campo-obrigatorio {
    padding-bottom: 20px;
}

.campo-obrigatorio p {
    text-align: center;
}

.divider {
    width: 80%;
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.432), left transparent);
    margin: auto;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1A7FBD;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005a8d;
}

.rodapé-form {
    font-size: 8px;
    color: #5555558c;
}

.rodapé-form p {
    text-align: center;
}

.rodapé-form p > span {
    color: black;
    font-weight: bolder;
}

/* Sections (O Projeto, O Problema, etc.) */
article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
}

.bottom-section,
.problem-section,
.journey-section,
.objectives-section {
    width: 100%;
    margin: 0;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1A7FBD;
}

.bottom-image {
    flex: 1;
    margin-right: 20px;
}

.bottom-section img {
    width: 100%; /* Ajusta a largura da imagem para o tamanho do contêiner */
    height: auto;
}

.bottom-text {
    flex: 1;
    margin: 15px;
    text-align: left; /* Alinha o texto à esquerda */
}

.bottom-text h2 {
    color: rgba(255, 255, 255, 0.548);
}

.bottom-text p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: white;
}

.problem-section {
    background-color: #1A7FBD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.problem-image {
    flex: 1;
    margin: 0px;
    padding: 20px;
}

.problem-image img {
    width: 100%; /* Ajusta a largura da imagem para o tamanho do contêiner */
    height: auto;
}

.text {
    flex: 1;
    font-size: 10px;
    text-align: left; /* Alinha o texto à esquerda */
    
}

.text h2 {
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    color: #555555c4;
}

.text p {
    font-size: 18px;
    margin: 15px;
    line-height: 1.6;
    text-align: justify;
    color: white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
    text-align: center;
    
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.card p {
    color: #555;
}

.journey-section {
    background-color: rgb(238, 238, 238);
    padding: 100px 50px;
}

.journey-section h2 {
    margin-bottom: 20px;
    color: #8b8b8b;
    font-size: 2.5em;
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.journey-section h2::before,
.journey-section h2::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 310px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
    color:#1A7FBD;
}

.journey-section h2::before {
    left: -300px;
    color:#1A7FBD;
}

.journey-section h2::after {
    right: -300px;
    color:#1A7FBD;
}

.journey-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
}

.journey-card {
    background-color: #1A7FBD;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.journey-card img {
    font-size: 2em;
    background-color: white;
    color: white;
    border-radius: 8px;
    margin-right: 15px;
    padding: 10px;
}

.journey-card p {
    font-size: 1em;
    margin: 5px;
    color: white;
}

.cta-section {
    text-align: center;
    margin: 40px 0;
}

.cta-button {
    background-color: #000;
    color: white;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button span {
    color: #1A7FBD;
}

.cta-button:hover {
    background-color: #333;
}

.cta-button::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background-color: #1A7FBD;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.objectives-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1A7FBD;
    text-align: center;
}

.objectives-section h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.objective-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.objective-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
    color: black;
}

.objective-card h2 {
    color: #333;
    margin-bottom: 0px;
    text-align: center;

}

.objective-card p {
    color: #555;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    text-align: center;
    flex: 1;
}

.footer-logo img {
    max-height: 50px;
}

.footer-logo .social-icons {
    margin-top: 10px;
}

.footer-logo .social-icons img {
    width: 24px;
    margin: 0 10px;
}

.footer-button {
    text-align: center;
    flex: 1;
}

.footer-button button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.footer-button a button:hover {
    background-color: #555;
    border-radius: 5px;
} 

.footer-links, .footer-contact {
    text-align: center;
    flex: 1;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.footer-links a:hover {
    background-color: #555;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.footer-contact {
    border-left: 2px solid #fff;
    padding-left: 20px;
}


