@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0079BF;
    color: #fff;
    overflow-x: hidden;
}

/* Cabeçalho */
header {
    background-color: #0079BF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
    overflow: hidden;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a.button {
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 70%;
    transform: translateX(-50%);
    width: 100%;
    height: 4px; /* Ajuste a altura da linha conforme necessário */
    background: linear-gradient(to right, transparent, white, transparent);
}

/* Seção Principal */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px; /* Espaçamento entre imagem e formulário */
}

.image-container {
    flex: 1;
    max-width: 1000px; /* Define um tamanho máximo para a imagem */
}

.image-container img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    display: block;
}

.form-container {
    flex: 1;
    max-width: 400px; /* Define um tamanho máximo para o formulário */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.411);
}

.form-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input, 
.form-container select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.programming-skills {
    margin-bottom: 15px;
}

.programming-skills label {
    margin-right: 10px;
}

.skills-options {
    display: flex;
    flex-wrap: wrap;
}

.skills-options label {
    margin-right: 10px;
    margin-bottom: 10px;
}

.development-radio {
    margin-bottom: 20px;
}

.development-radio label {
    margin-right: 20px;
}

button {
    padding: 10px 20px;
    background-color: #0079BF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005a8d;
}


/* Seção "O projeto" */
.bottom-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.bottom-section img {
    width: 40%;
    margin-right: 50px;
}

.bottom-text {
    width: 60%;
    margin: 0 auto;
}

.bottom-text h2 {
    font-size: 36px;
    color: #007bff;
}

.bottom-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Seção "O Problema" */
.problema-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.problema-section img {
    width: 40%;
    margin-right: 50px;
}

.problema-text {
    width: 60%;
    margin: 0 auto;
}

.problema-text h2 {
    font-size: 36px;
    color: #007bff;
}

.problema-text hr {
    width: 50px;
    border: 2px solid #0079BF;
    margin: 20px 0;
}

.problema-text p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Seção "Oportunidades" */
.oportunidades-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
}

.oportunidade-box {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    border-radius: 8px;
    text-align: center;
}

.oportunidade-box h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 15px;
}

.oportunidade-box p {
    font-size: 16px;
    color: #666;
}

.oportunidade-box:last-child {
    margin-right: 0;
}

/* Estilos para a seção "Sua Jornada" */
.jornada-section {
    padding: 50px;
    background-color: white;
    color: #0079BF;
    text-align: center;
}

.jornada-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.jornada-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jornada-box {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #0079BF;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.jornada-box img {
    max-width: 40px;
    margin-bottom: 10px;
    background-color: white;
    padding: 2px 2px;
    margin: 2px 2px;
    border-radius: 5px;
}

.cta-container {
    margin-top: 40px;
}

.cta-button {
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}


/* Estilos para a seção "Objetivos" */
.objetivos-section {
    padding: 50px;
    background-color:#0079BF;
    text-align: center;
    color: #fff;
}

.objetivos-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.objetivo-box {
    display: inline-block;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    color: black;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}

.objetivo-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.objetivo-box p {
    font-size: 16px;
    color: #333;
}

/* */




/* rodapé */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.footer-logo {
    text-align: center;
    flex: 1;
}

.footer-logo img {
    max-height: 50px;
}

.footer-logo .social-icons {
    margin-top: 10px;
}

.footer-logo .social-icons img {
    width: 24px;
    margin: 0 10px;
}

.footer-button {
    text-align: center;
    flex: 1;
}

.footer-button button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.footer-links, .footer-contact {
    text-align: left;
    flex: 1;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.footer-contact {
    border-left: 2px solid #fff;
    padding-left: 20px;
}

.footer-contact p {
    margin: 5px 0;
}



@media (max-width: 800px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .vertical-text {
        position: relative;
        transform: rotate(0);
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
        text-align: center;
    }

    .main-container img,
    .form-container {
        width: 100%;
        margin-left: 0;
    }

    .bottom-section {
        flex-direction: column;
        text-align: center;
    }

    .bottom-section img {
        margin-bottom: 20px;
    }
}