@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;
    color: #0079BF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200vw;
    
}
